In [1]:
import pandas as pd
file_path = "data.txt"
with open(file_path, "r") as file:
    lines = file.readlines()
        
row_index = 2  
if row_index < len(lines):
            print(lines[row_index])
else:
            print(f"Row {row_index + 1} does not exist in the file.")

15-04-22|00:00:16:637|S|IXN22EKB63500|126|2|1407801633274000101|f1=2|f2=IXN|f4=20|f5=5|f6=2022|f7=635|f8=100|f31=iShares Global Tech ETF|f666=IXN|f677=C|f1663=SQL|f1664=A|f214=3

In [2]:
input_file_path = "data.txt"
output_file_path = "output1.txt"
try:
    with open(input_file_path, "r") as input_file:
        file_content = input_file.read()
        modified_content = file_content.replace("|", ",")

    with open(output_file_path, "w") as output_file:
        output_file.write(modified_content)
        
    print("Data has been processed and saved to the output file.")

except FileNotFoundError:
    print(f"The file '{input_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

Data has been processed and saved to the output file.

In [3]:
import csv

input_file_path = "output1.txt"
output_csv_path = "fileRecap1.csv"

try:
    # Open the input text file for reading
    with open(input_file_path, "r") as input_file:
        # Initialize a list to store the rows
        rows = []

        # Read all lines from the file
        lines = input_file.readlines()

        # Find the maximum number of columns in any line
        max_columns = max(len(line.strip().split('|')) for line in lines)

        # Iterate through each line and pad/truncate to match max_columns
        for line in lines:
            columns = line.strip().split('|')
            if len(columns) < max_columns:
                # Pad the line with empty cells to match max_columns
                columns.extend([''] * (max_columns - len(columns)))
            elif len(columns) > max_columns:
                # Truncate the line to match max_columns
                columns = columns[:max_columns]

            rows.append(columns)

    # Write the rows to the output CSV file
    with open(output_csv_path, "w", newline='') as output_csv:
        csv_writer = csv.writer(output_csv)
        csv_writer.writerows(rows)

    print(f"Text file '{input_file_path}' successfully converted to CSV file '{output_csv_path}'.")

except FileNotFoundError:
    print(f"The file '{input_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

Text file 'output1.txt' successfully converted to CSV file 'fileRecap1.csv'.

In [4]:
# Header values to be added
column_names=["Courses"]

# Add header row while reading a CSV file
df = pd.read_csv('fileRecap1.csv', names=column_names)
df
dfquotes = df.iloc[4016:76365] 
dfquotes

                                                 Courses
4016   15-04-22,13:30:10:999,Q,IXN23MKB34500,126,2,14...
4017   15-04-22,13:30:28:999,Q,IXN24MJB38000,126,2,14...
4018   15-04-22,13:30:28:999,Q,IXN24AJB35500,126,2,14...
4019   15-04-22,13:30:28:999,Q,IXN24MJB38500,126,2,14...
4020   15-04-22,13:30:29:665,Q,IXN23AKB27500,126,2,14...
...                                                  ...
76360  15-04-22,20:06:57:034,Q,IXN23MKB57000,126,2,14...
76361  15-04-22,20:06:57:752,Q,IXN22IGB36000,126,2,14...
76362  15-04-22,20:06:58:411,Q,IXN22FHB29500,126,2,14...
76363  15-04-22,20:06:58:785,Q,IXN23MKB32500,126,2,14...
76364  15-04-22,20:06:59:035,Q,IXN22UGB39000,126,2,14...

[72349 rows x 1 columns]

In [5]:
# Save the dataframe to a CSV file
dfquotes.to_csv('fileRecapFinal.csv', index=False)

In [6]:
# Splitting combined coloumn into seperate coloumn
csv_file_path = "fileRecapFinal.csv"

try:
    # Read the CSV file into a pandas dataframe
    df = pd.read_csv(csv_file_path)

    # Split the "Combined_Column" into separate columns
    split_data = df['Courses'].str.split(',', expand=True)

    # Rename the generated columns
    split_data.columns = ['Date', 'Time', 'Message Type', 'Instrument code', 'Exchange Code', 'Security Type', 'Unknown', 'Bid market', 'Bid price', 'Bid size','Ask market','Ask price','Ask size','Message Type1','Message Type2','Message Type3','Message Type4','Message Type5','Message Type6','Message Type7','Message Type8','Message Type9','Message Type10','Message Type11']

    # Concatenate the split data columns with the original dataframe
    df = pd.concat([df, split_data], axis=1)

    # Drop the original "Combined_Column" if no longer needed
    df.drop(columns=['Courses'], inplace=True)

    # Display the modified dataframe
    print(df)

except FileNotFoundError:
    print(f"The file '{csv_file_path}' was not found.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

           Date          Time Message Type Instrument code Exchange Code  \
0      15-04-22  13:30:10:999            Q   IXN23MKB34500           126
1      15-04-22  13:30:28:999            Q   IXN24MJB38000           126
2      15-04-22  13:30:28:999            Q   IXN24AJB35500           126
3      15-04-22  13:30:28:999            Q   IXN24MJB38500           126
4      15-04-22  13:30:29:665            Q   IXN23AKB27500           126
...         ...           ...          ...             ...           ...
72344  15-04-22  20:06:57:034            Q   IXN23MKB57000           126
72345  15-04-22  20:06:57:752            Q   IXN22IGB36000           126
72346  15-04-22  20:06:58:411            Q   IXN22FHB29500           126
72347  15-04-22  20:06:58:785            Q   IXN23MKB32500           126
72348  15-04-22  20:06:59:035            Q   IXN22UGB39000           126

      Security Type              Unknown Bid market Bid price  Bid size  ...  \
0                 2  1407898821998167200      f8=12   f4=45.4     f5=12  ...
1                 2  1407898857999293246      f8=36   f4=78.3      f5=1  ...
2                 2  1407898857999293251      f8=24   f4=33.5      f5=1  ...
3                 2  1407898857999293294      f8=19     f4=82      f5=1  ...
4                 2  1407898859330001305      f8=36   f4=56.5      f5=2  ...
...             ...                  ...        ...       ...       ...  ...
72344             2  1407946434068000238      f8=14    f12=14  f6=266.9  ...
72345             2  1407946435504000087      f8=55    f12=55    f6=6.9  ...
72346             2  1407946436822000189       f8=5     f12=5   f6=24.6  ...
72347             2  1407946437570000256      f8=36   f4=39.9     f5=10  ...
72348             2  1407946438070000109      f8=55   f4=84.2     f5=13  ...

      Message Type2 Message Type3 Message Type4 Message Type5 Message Type6  \
0              None          None          None          None          None
1              None          None          None          None          None
2              None          None          None          None          None
3              None          None          None          None          None
4              None          None          None          None          None
...             ...           ...           ...           ...           ...
72344          None          None          None          None          None
72345          None          None          None          None          None
72346          None          None          None          None          None
72347          None          None          None          None          None
72348          None          None          None          None          None

      Message Type7 Message Type8 Message Type9 Message Type10 Message Type11
0              None          None          None           None           None
1              None          None          None           None           None
2              None          None          None           None           None
3              None          None          None           None           None
4              None          None          None           None           None
...             ...           ...           ...            ...            ...
72344          None          None          None           None           None
72345          None          None          None           None           None
72346          None          None          None           None           None
72347          None          None          None           None           None
72348          None          None          None           None           None

[72349 rows x 24 columns]

In [7]:
column_name = 'Message Type'
character_to_remove = 'T'

# Check if the column exists in the DataFrame
if column_name in df.columns:
    # Use boolean indexing to filter rows
    filtered_df = df[~df[column_name].str.contains(character_to_remove)]
    # Display the resulting DataFrame
    print(filtered_df)
else:
    print(f"Column '{column_name}' not found in the DataFrame.")

           Date          Time Message Type Instrument code Exchange Code  \
0      15-04-22  13:30:10:999            Q   IXN23MKB34500           126
1      15-04-22  13:30:28:999            Q   IXN24MJB38000           126
2      15-04-22  13:30:28:999            Q   IXN24AJB35500           126
3      15-04-22  13:30:28:999            Q   IXN24MJB38500           126
4      15-04-22  13:30:29:665            Q   IXN23AKB27500           126
...         ...           ...          ...             ...           ...
72344  15-04-22  20:06:57:034            Q   IXN23MKB57000           126
72345  15-04-22  20:06:57:752            Q   IXN22IGB36000           126
72346  15-04-22  20:06:58:411            Q   IXN22FHB29500           126
72347  15-04-22  20:06:58:785            Q   IXN23MKB32500           126
72348  15-04-22  20:06:59:035            Q   IXN22UGB39000           126

      Security Type              Unknown Bid market Bid price  Bid size  ...  \
0                 2  1407898821998167200      f8=12   f4=45.4     f5=12  ...
1                 2  1407898857999293246      f8=36   f4=78.3      f5=1  ...
2                 2  1407898857999293251      f8=24   f4=33.5      f5=1  ...
3                 2  1407898857999293294      f8=19     f4=82      f5=1  ...
4                 2  1407898859330001305      f8=36   f4=56.5      f5=2  ...
...             ...                  ...        ...       ...       ...  ...
72344             2  1407946434068000238      f8=14    f12=14  f6=266.9  ...
72345             2  1407946435504000087      f8=55    f12=55    f6=6.9  ...
72346             2  1407946436822000189       f8=5     f12=5   f6=24.6  ...
72347             2  1407946437570000256      f8=36   f4=39.9     f5=10  ...
72348             2  1407946438070000109      f8=55   f4=84.2     f5=13  ...

      Message Type2 Message Type3 Message Type4 Message Type5 Message Type6  \
0              None          None          None          None          None
1              None          None          None          None          None
2              None          None          None          None          None
3              None          None          None          None          None
4              None          None          None          None          None
...             ...           ...           ...           ...           ...
72344          None          None          None          None          None
72345          None          None          None          None          None
72346          None          None          None          None          None
72347          None          None          None          None          None
72348          None          None          None          None          None

      Message Type7 Message Type8 Message Type9 Message Type10 Message Type11
0              None          None          None           None           None
1              None          None          None           None           None
2              None          None          None           None           None
3              None          None          None           None           None
4              None          None          None           None           None
...             ...           ...           ...            ...            ...
72344          None          None          None           None           None
72345          None          None          None           None           None
72346          None          None          None           None           None
72347          None          None          None           None           None
72348          None          None          None           None           None

[71950 rows x 24 columns]

In [8]:
character_to_remove = 'T'

# Use boolean indexing to filter rows where 'Column1' contains the character
filtered_df = df[~df['Message Type'].str.contains(character_to_remove)]

# Display the resulting DataFrame without rows containing the character
print(filtered_df)

           Date          Time Message Type Instrument code Exchange Code  \
0      15-04-22  13:30:10:999            Q   IXN23MKB34500           126
1      15-04-22  13:30:28:999            Q   IXN24MJB38000           126
2      15-04-22  13:30:28:999            Q   IXN24AJB35500           126
3      15-04-22  13:30:28:999            Q   IXN24MJB38500           126
4      15-04-22  13:30:29:665            Q   IXN23AKB27500           126
...         ...           ...          ...             ...           ...
72344  15-04-22  20:06:57:034            Q   IXN23MKB57000           126
72345  15-04-22  20:06:57:752            Q   IXN22IGB36000           126
72346  15-04-22  20:06:58:411            Q   IXN22FHB29500           126
72347  15-04-22  20:06:58:785            Q   IXN23MKB32500           126
72348  15-04-22  20:06:59:035            Q   IXN22UGB39000           126

      Security Type              Unknown Bid market Bid price  Bid size  ...  \
0                 2  1407898821998167200      f8=12   f4=45.4     f5=12  ...
1                 2  1407898857999293246      f8=36   f4=78.3      f5=1  ...
2                 2  1407898857999293251      f8=24   f4=33.5      f5=1  ...
3                 2  1407898857999293294      f8=19     f4=82      f5=1  ...
4                 2  1407898859330001305      f8=36   f4=56.5      f5=2  ...
...             ...                  ...        ...       ...       ...  ...
72344             2  1407946434068000238      f8=14    f12=14  f6=266.9  ...
72345             2  1407946435504000087      f8=55    f12=55    f6=6.9  ...
72346             2  1407946436822000189       f8=5     f12=5   f6=24.6  ...
72347             2  1407946437570000256      f8=36   f4=39.9     f5=10  ...
72348             2  1407946438070000109      f8=55   f4=84.2     f5=13  ...

      Message Type2 Message Type3 Message Type4 Message Type5 Message Type6  \
0              None          None          None          None          None
1              None          None          None          None          None
2              None          None          None          None          None
3              None          None          None          None          None
4              None          None          None          None          None
...             ...           ...           ...           ...           ...
72344          None          None          None          None          None
72345          None          None          None          None          None
72346          None          None          None          None          None
72347          None          None          None          None          None
72348          None          None          None          None          None

      Message Type7 Message Type8 Message Type9 Message Type10 Message Type11
0              None          None          None           None           None
1              None          None          None           None           None
2              None          None          None           None           None
3              None          None          None           None           None
4              None          None          None           None           None
...             ...           ...           ...            ...            ...
72344          None          None          None           None           None
72345          None          None          None           None           None
72346          None          None          None           None           None
72347          None          None          None           None           None
72348          None          None          None           None           None

[71950 rows x 24 columns]

In [9]:
character_to_remove = 'S'

# Use boolean indexing to filter rows where 'Column1' contains the character
filtered_df1 = filtered_df[~filtered_df['Message Type'].str.contains(character_to_remove)]

# Display the resulting DataFrame without rows containing the character
print(filtered_df1)

filtered_df1.to_csv('Finalqdata.csv', index=False)

           Date          Time Message Type Instrument code Exchange Code  \
0      15-04-22  13:30:10:999            Q   IXN23MKB34500           126
1      15-04-22  13:30:28:999            Q   IXN24MJB38000           126
2      15-04-22  13:30:28:999            Q   IXN24AJB35500           126
3      15-04-22  13:30:28:999            Q   IXN24MJB38500           126
4      15-04-22  13:30:29:665            Q   IXN23AKB27500           126
...         ...           ...          ...             ...           ...
72344  15-04-22  20:06:57:034            Q   IXN23MKB57000           126
72345  15-04-22  20:06:57:752            Q   IXN22IGB36000           126
72346  15-04-22  20:06:58:411            Q   IXN22FHB29500           126
72347  15-04-22  20:06:58:785            Q   IXN23MKB32500           126
72348  15-04-22  20:06:59:035            Q   IXN22UGB39000           126

      Security Type              Unknown Bid market Bid price  Bid size  ...  \
0                 2  1407898821998167200      f8=12   f4=45.4     f5=12  ...
1                 2  1407898857999293246      f8=36   f4=78.3      f5=1  ...
2                 2  1407898857999293251      f8=24   f4=33.5      f5=1  ...
3                 2  1407898857999293294      f8=19     f4=82      f5=1  ...
4                 2  1407898859330001305      f8=36   f4=56.5      f5=2  ...
...             ...                  ...        ...       ...       ...  ...
72344             2  1407946434068000238      f8=14    f12=14  f6=266.9  ...
72345             2  1407946435504000087      f8=55    f12=55    f6=6.9  ...
72346             2  1407946436822000189       f8=5     f12=5   f6=24.6  ...
72347             2  1407946437570000256      f8=36   f4=39.9     f5=10  ...
72348             2  1407946438070000109      f8=55   f4=84.2     f5=13  ...

      Message Type2 Message Type3 Message Type4 Message Type5 Message Type6  \
0              None          None          None          None          None
1              None          None          None          None          None
2              None          None          None          None          None
3              None          None          None          None          None
4              None          None          None          None          None
...             ...           ...           ...           ...           ...
72344          None          None          None          None          None
72345          None          None          None          None          None
72346          None          None          None          None          None
72347          None          None          None          None          None
72348          None          None          None          None          None

      Message Type7 Message Type8 Message Type9 Message Type10 Message Type11
0              None          None          None           None           None
1              None          None          None           None           None
2              None          None          None           None           None
3              None          None          None           None           None
4              None          None          None           None           None
...             ...           ...           ...            ...            ...
72344          None          None          None           None           None
72345          None          None          None           None           None
72346          None          None          None           None           None
72347          None          None          None           None           None
72348          None          None          None           None           None

[71898 rows x 24 columns]

In [10]:
#  In the q data some of the f12 data is in the f4 coloumn and we need to move this data two spaces to the right 
import pandas as pd
file_path = "Finalqdata.csv"
with open(file_path, "r") as file:
    lines = file.readlines()
        
row_index = 2  
if row_index < len(lines):
            print(lines[row_index])
else:
            print(f"Row {row_index + 1} does not exist in the file.")

15-04-22,13:30:28:999,Q,IXN24MJB38000,126,2,1407898857999293246,f8=36,f4=78.3,f5=1,f12=36,f6=83.5,f7=1,,,,,,,,,,,

In [11]:

df = pd.read_csv("Finalqdata.csv")
df

,Date,Time,Message Type,Instrument code,Exchange Code,Security Type,Unknown,Bid market,Bid price,Bid size,...,Message Type2,Message Type3,Message Type4,Message Type5,Message Type6,Message Type7,Message Type8,Message Type9,Message Type10,Message Type11
0,15-04-22,13:30:10:999,Q,IXN23MKB34500,126,2,1407898821998167200,f8=12,f4=45.4,f5=12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15-04-22,13:30:28:999,Q,IXN24MJB38000,126,2,1407898857999293246,f8=36,f4=78.3,f5=1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15-04-22,13:30:28:999,Q,IXN24AJB35500,126,2,1407898857999293251,f8=24,f4=33.5,f5=1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15-04-22,13:30:28:999,Q,IXN24MJB38500,126,2,1407898857999293294,f8=19,f4=82,f5=1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15-04-22,13:30:29:665,Q,IXN23AKB27500,126,2,1407898859330001305,f8=36,f4=56.5,f5=2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71893,15-04-22,20:06:57:034,Q,IXN23MKB57000,126,2,1407946434068000238,f8=14,f12=14,f6=266.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71894,15-04-22,20:06:57:752,Q,IXN22IGB36000,126,2,1407946435504000087,f8=55,f12=55,f6=6.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71895,15-04-22,20:06:58:411,Q,IXN22FHB29500,126,2,1407946436822000189,f8=5,f12=5,f6=24.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71896,15-04-22,20:06:58:785,Q,IXN23MKB32500,126,2,1407946437570000256,f8=36,f4=39.9,f5=10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71897,15-04-22,20:06:59:035,Q,IXN22UGB39000,126,2,1407946438070000109,f8=55,f4=84.2,f5=13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN